extends layout

block content
	.div#header
		
		img(src="../pics/ngale.png").mainPic

		p.mainName Nightingale
		p.byline Providing emergency assistance to those in need

	.div#sidebar
		


	

	


	
block scripts
	script(src='/scripts/index.js')