doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="/styles/main.css")

	body
		block content

		block scripts
		script(src='http://code.jquery.com/jquery-2.1.1.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		