extends layout

block content
	.div#header
		
		img(src="../pics/DSC_0260.JPG").mainPic

		p.mainName Logan

	.div#grades.areas
		p Grades
	.div#attendance.areas
		p Attendance
	.div#teacherComments.areas
		p Teacher's Comments
	.div#ClassEvents.areas
		p Upcoming Class Events
	.div#absentForm.areas
		p Submit Absent Form


	

	


	
block scripts
	script(src='/scripts/index.js')