html, body{
	height: 100%;

}

.banner{
	height: 50px;
	width: 100%;
	background-color: #40A633;
	position: relative;
}

.ngale-img{
	width: 140px;
	height: 100px;
	float:left;
	/*margin-left:1%;*/
	top:-40px;
	position: relative;
}

#page-content-wrapper{
	padding: 0;

}


.byline{
	font-size: 20px;
}

.byline2{
	font-size: 20px;
	font-style: italic;
}

.status-table{
	width: 80%;
	border:1px solid lightgrey;
	text-align: center;
	font-size: 20px;
}

.status-table i {
	font-size: 48px;
}

.status-table .fa-tint {
	border: 1px solid grey;
	background-color: red;
	color: skyblue;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px darkgrey;

}

#sidebar-wrapper{
	overflow: hidden;
}

#map-canvas{
	width: 70%;
	height: 500px;
}

#myfirstchart{
	width: 20%;
}

.bcolor{
	background-color: black;
	color: #999999;
	border-radius: 2px;
}

.form-hor1{
	margin-top: 10px;
	width: 500px;
	border-radius: 20px;
	padding-top:10px;
	padding-right: 10px;
}

.form-title{
	margin-left: 30px;
	margin-top: 5px;
}
.control-label{
	padding: 0;
}
.cl1{
	margin-left: 40px;
}

.cl2{
text-align: left;
}

.fa-edit{
	margin: 0;
	padding: 0;
}

.fg1{
	margin-bottom: 10px;
}

.fc1{
	width: 100px;
	margin-right: 0;
	margin-bottom: 20px;
}

.ratfc{
	width: 20%;
	display: inline;
	display: none;
}


.ratta{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	display: none;
}



