html, body{
	height: 100%;

}

.banner{
	height: 50px;
	width: 100%;
	background-color: #40A633;
	position: relative;
}

.ngale-img{
	width: 140px;
	height: 100px;
	float:left;
	/*margin-left:1%;*/
	top:-40px;
	position: relative;
}

#page-content-wrapper{
	padding: 0;

}


.byline{
	font-size: 20px;
}

.byline2{
	font-size: 20px;
	font-style: italic;
}

#menu-toggle{
	margin-bottom: 20px;
}

.status-table{
	width: 80%;
	border:1px solid lightgrey;
	text-align: center;
	font-size: 20px;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 3px 1px lightgrey;
	background-color: #eeeeee;
}

.status-table i {
	font-size: 48px;
}

.fa-icon  {
	border: 1px solid grey;
	background-color: rgb(63, 175, 255);

/*	color: skyblue;*/
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px darkgrey;

}

#map-canvas{
	margin-left: 7%;
	margin-top: 20px;
	border: 1px solid grey;
	margin-bottom: 20px;
}

.aid-type-table{
	font-size: 12px;
	width:550px;
	margin-left:0;
	display: none;
}

input[type=checkbox].cbox{
margin-left: 5px;
}

.comments{
	text-align: center;
}

.ckbx{
	width: 5px;
}

.qNeeded{
	width: 50px;
	text-align: center;
}

.reqC{
	width: 200px;
	text-align: center;
}

.contResponseH{
	margin-left: 50px;
	text-align: center;
}

.qc-text{
	display: block;
	margin: auto;
	width: 50px;
}

.cc-text{
	display: block;
	margin: auto;
	width: 300px;
}
.contComments{
	text-align: center;
}


#sidebar-wrapper{
	overflow: hidden;
	top:50px;
	height: auto;
}

.sidebar-nav{
	position: static;
}
#map-canvas{
	width: 70%;
	height: 500px;
}

/*.row{
	border-bottom: 1px solid lightgrey;
}*/

.chart{
text-align: center;

}
#metricsArea{
	display: none;
}


.bcolor{
	background-color: black;
	color: #999999;
	border-radius: 2px;
}

.form-hor1{
	margin-top: 10px;
	width: 500px;
	border-radius: 20px;
	padding-top:10px;
	padding-right: 10px;
}

.form-title{
	margin-left: 30px;
	margin-top: 5px;
}
.control-label{
	padding: 0;
}
.cl1{
	margin-left: 40px;
}

.cl2{
text-align: left;
}

.fa-edit{
	margin: 0;
	padding: 0;
}

.fg1{
	margin-bottom: 10px;
}

.fc1{
	width: 100px;
	margin-right: 0;
	margin-bottom: 20px;
}

.ratfc{
	width: 20%;
	display: inline;
	display: none;
}


.ratta{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	display: none;
}
#requests-table{
	display: none;
	margin-left: 20px;
	margin-top: 20px;
	width: 90%;
}


.req, .con{
/*width: 100%;*/
text-align: center;
vertical-align: top;
}


.con-quantity{
width:50px;
}
.req-quantity{
	width: 100px;
}

.req-comments, .con-comments{
	width: 300px;

}




