html, body{
	height: 100%;

}

#page-content-wrapper{
	padding: 0;

}
.ngale-img{
	width: 140px;
	height: 100px;
	float:left;
	margin-right: 20px;
}

.header-row{

}

.byline{
	font-size: 20px;
}

.byline2{
	font-size: 20px;
	font-style: italic;
}

.status-table{
	width: 70%;
	border:1px solid lightgrey;
}

#map-canvas{
	width: 70%;
	height: 500px;
}

.bcolor{
	background-color: black;
	color: #999999;
	border-radius: 2px;
}

.form-hor1{
	margin-top: 10px;
	border: 1px solid lightgrey;
	width: 500px;
	border-radius: 20px;
	padding-top:10px;
	padding-right: 10px;
}

.form-title{
	margin-left: 30px;
	margin-top: 5px;
}
.control-label{
	padding: 0;
}
.cl1{
	margin-left: 40px;
}

.cl2{
text-align: left;
}

.fa-edit{
	margin: 0;
	padding: 0;
}

.fg1{
	margin-bottom: 40px;
}

.fc1{
	width: 100px;
	margin-right: 0;
	margin-bottom: 20px;
}

.ratfc{
	width: 20%;
	display: inline;
}

.ratta{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

#street, #city{
	margin-bottom: 5px;
}
